.components-modal__content {
    margin-top: 76px;
}

.components-modal__content::before {
    display: none;
}

.components-modal__content .components-modal__header {
    border-bottom: none;
    height: 76px;
}

.components-modal__content .components-modal__header + .components-flex {
    gap: 32px;
}
